# environment variables
.env

# python
__pycache__/
*.py[cod]

# database (uncomment line below when switching to a cloud db)
# *.db

# transcript files
*.pdf

# development files
CSEN.txt
test_results.txt
# student_register_test.http
# password_reset_test.http
# password_reset_confirmation_test.http

# logs and temp files
*.log
*.tmp